html,
body {
  font-family: 'Ubuntu' !important;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: #f5f5f5 !important;
  background: #f5f5f5 !important;
}

a {
  color: inherit;
  text-decoration: none;
}


.footer-bar {
  margin: 0px !important;
  padding: 0px !important;
  padding-top: 1px !important;
  backdrop-filter: blur(11px);
}

.footerNavBar {
  bottom: 0 !important;
  text-align: center;
  font-size: 12px !important;
  font-family: Rubik !important;
  padding: 2px 0px !important;
}
.footerNavBar a {
  font-family: 'Ubuntu' !important;
  color: rgb(63, 0, 63);
  word-spacing: -2px;
  font-weight: normal !important;
}
.footerNavBar a:hover {
  color: rgb(227, 192, 227);
}

.footer-nav-col {
  vertical-align: bottom !important;
  bottom: 0 !important;
  position: fixed !important;
  width: 100%;
  overflow: hidden;
}

.nav-footer {
  vertical-align: bottom !important;
  bottom: 0 !important;
  position: fixed !important;
  width: 100%;
  overflow: hidden;
  z-index: 11 !important;
}

.nav-footer .center.aligned.row {
  padding: 0px;
}

.footer {
  bottom: 0;
}

.ui.header {
  font-family: 'Ubuntu' !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu' !important;
}

.ui.button {
  font-family: 'Ubuntu' !important;
}

button, input, textarea{
  font-family: 'Ubuntu' !important;
}

.ui.menu {
  font-family: 'Ubuntu' !important;
}